<%- include('../partials/head') %>

    <body>
        <header>
            <%- include('../partials/nav') %>
        </header>
        <main>
            <div class="flex">
                <div class="w-full">
                    <img src="/item/<%= item.id %>.png" alt="<%= item.name %>">
                </div>
                <div class="w-full flex flex-col gap-4">
                    <h1 class="text-xl font-bold">
                        <%= item.name %>
                    </h1>
                    <p> <%= item.details %></p>
                    <div>


                       <div class="flex justify-between mt-4">
    <div>
        <button onclick="toggleP('size')" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Size</button>
        <button onclick="toggleP('yarn')" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Yarn</button>
    </div>

    <div>
        <p id="size" class="hidden text-lg font-bold text-blue-500"><%= item.size %></p>
        <p id="yarn" class="hidden text-lg font-bold text-green-500"><%= item.yarn %></p>
    </div>
</div>

<div class="flex justify-end mt-4">
    <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Purchase</button>
    <button class="bg-pink-500 hover:bg-pink-700 text-white font-bold py-2 px-4 rounded">Save ♡</button>
</div>

                    
                </div>
        </main>
    </body>
    <%- include('../partials/footer') %>

        <script>
            function toggleP(type) {
                var sizeParagraph = document.getElementById('size');
                var yarnParagraph = document.getElementById('yarn');

                if (type === 'size') {
                    sizeParagraph.classList.toggle('hidden');
                    yarnParagraph.classList.add('hidden');
                } else if (type === 'yarn') {
                    yarnParagraph.classList.toggle('hidden');
                    sizeParagraph.classList.add('hidden');
                }
            }

            window.onload = function () {
                var sizeParagraph = document.getElementById('size');
                sizeParagraph.classList.remove('hidden');
            }
        </script>