<%- include('../partials/head') %>

    <body>
        <header>
            <%- include('../partials/nav') %>
        </header>
        <main>
            <div class="flex">
                <div class="w-full">
                    <img src="/item/<%= item.id %>.png" alt="<%= item.name %>">
                </div>
                <div class="w-full flex flex-col gap-4">
                    <h1 class="text-xl font-bold">
                        <%= item.name %>
                    </h1>
                    <p class="pr-6"> <%= item.detail %></p>
                    <div>
                        
                        <div class="pb-6">
                            <button onclick="toggleP('size')"  class="border border-gray-500 hover:border-pink-700 text-gray-500 hover:text-pink-700 py-0.5 px-4 rounded-full">Size</button>
                            <button onclick="toggleP('yarn')" class="border border-gray-500 hover:border-pink-700 text-gray-500 hover:text-pink-700 py-0.5 px-4 rounded-full">Yarn</button>
                        </div>

                        <div>
                            <p id="size" class="hidden">
                                <%= item.size %>
                            </p>
                            <p id="yarn" class="hidden">
                                <%= item.yarn %>
                            </p>
                        </div>

                        
                    </div>
                    <div>
                        <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                            Purchase
                        </button>
                        <button class="bg-pink-500 hover:bg-pink-700 text-white font-bold py-2 px-4 rounded">
                            Save ♡
                        </button>
                    </div>
                    
                </div>
        </main>
    </body>
    <%- include('../partials/footer') %>

        <script>
            function toggleP(type) {
                var sizeParagraph = document.getElementById('size');
                var yarnParagraph = document.getElementById('yarn');

                if (type === 'size') {
                    sizeParagraph.classList.toggle('hidden');
                    yarnParagraph.classList.add('hidden');
                } else if (type === 'yarn') {
                    yarnParagraph.classList.toggle('hidden');
                    sizeParagraph.classList.add('hidden');
                }
            }

            window.onload = function () {
                var sizeParagraph = document.getElementById('size');
                sizeParagraph.classList.remove('hidden');
            }
        </script>