<%- include('../partials/head') %>

    <body>
        <header>
            <%- include('../partials/nav') %>
        </header>
        <main>
            <div class="h-40 bg-black text-white my-4">
                <div class="absolute m">
                    <a href="/">← Back to Home</a>
                </div>
                <div class="h-40 flex items-center justify-center">
                    <h1 class="text-3xl font-bold">
                        <%= shop.name %>
                    </h1>
                </div>
               
            </div>
            <%- include('../partials/lists/shopLists') %>
        </main>
    </body>
    <%- include('../partials/footer') %>