<div class="grid grid-cols-4 gap-4">
    <% if (shop.name.toLowerCase() === 'all') { %>
        <% item.forEach(function(item) { %>
            <div class="h-60 bg-slate-600">
                <a href="/items/<%= item.name %>">
                    <img class="h-48 w-48 object-cover" 
                    src="<%= (item.status === 'soldout') ? '/soldout.jpg' : item.img %>" 
                    alt="<%= item.name %>" />
                    <p><strong><%= item.name %></strong></p>
                    <p>$ <%= item.price %></p>
                </a>
            </div>
        <% }); %>
    <% } else { %>
        <% item.forEach(function(item) { %>
            <% if (shop.name.toLowerCase() === item.category.toLowerCase()) { %>
                <div class="h-60 bg-slate-600">
                    <a href="/items/<%= item.name %>">
                        <img class="h-48 w-48 object-cover" 
                        src="<%= (item.status === 'soldout') ? '/soldout.jpg' : item.img %>" 
                        alt="<%= item.name %>" />
                        <p><strong><%= item.name %></strong></p>
                        <p>$ <%= item.price %></p>
                    </a>
                </div>
            <% } %>
        <% }); %>
    <% } %>
</div>